.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  max-width: 1100px;
}

.Header .Logo {
  margin-top: 10px;
  height: 20vw;
  min-height: 180px;
  max-height: 360px;
}

.Main,
.Header {
  margin: 0 5vw;
}

.Main .Title {
  text-transform: uppercase;
}

.Header p {
  padding: 8px 0;
  text-align: justify;
  font-style: italic;
}

.Header a {
  color: #26bdcf;
}

.Header .Download {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0.4vw;
  line-height: 1.25;
  font-size: clamp(11px, 1vw, 22px);
  height: clamp(75px, 10vw, 150px);
  width: clamp(75px, 10vw, 150px);
  padding: 5px;
  background: #ef5ba1;
  border-radius: 150px;
  box-shadow: 1px 1px 1px lightgrey;
}

.Header .Download b {
  color: white;
}

.Header .Download small {
  color: lightgray;
}

.Header .Download:hover {
  background: #26bdcf;
  color: #ef5ba1;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  background: #26bdcf;
  color: white;
  z-index: -1;
}

.Footer a {
  color: white;
  text-decoration: none;
}

.Footer a:hover {
  text-decoration: underline;
}

.Footer .FavoriteIcon {
  height: 12px;
  width: 12px;
}

.GroupPanel {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2N8//59AwMOwAiSFBQUxKpg0EkCANJJG1UAh5gpAAAAAElFTkSuQmCC)
    repeat !important;
  background-color: #ffffff99 !important;
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  box-shadow: none !important;
  margin: 16px 0;
}

.GroupPanel .Title {
  font-weight: 700;
  color: #26bdcf;
  text-align: center;
}

.GroupPanel .GroupPanelDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 18px;
}

.ProjectCard {
  width: 200px;
}

.ProjectCard .Title {
  font-weight: 400;
  color: #ef5ba1;
  margin: 0;
}

.ProjectCard .CardContent {
  padding: 10px !important;
}

.ProjectCard .CardDescription {
  padding: 5px;
  font-style: italic;
  text-align: justify;
  font-size: smaller;
}

.ProjectCard img {
  height: 140px;
}

.ProjectCard ul,
.ProjectCard ul div {
  padding: 0;
}

.ProjectCard a:hover {
  background: #ef5ba1;
}

.ProjectCard a:hover .Title {
  color: white;
}
